/* Light theme (default) */
:root {
  --bg-color: #ffffff;
  --bg-secondary: #f8fafc;

  --text-color: #0f172a;
  --text-muted: #64748b;

  --accent-color: #6366f1;
  --accent-hover: #4f46e5;

  --border-color: #e5e7eb;

  --green-color: #22c55e;

  --title-background: #f0f0f0;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #000;
  --bg-secondary: #020617;

  --text-color: #e5e7eb;
  --text-muted: #94a3b8;

  --accent-color: #818cf8;
  --accent-hover: #a5b4fc;

  --border-color: #1e293b;

  --green-color: #22c55e;

  --title-background: #222222;
}
