@import "../../../styles/themes";

.hamburgerLogo {
  cursor: pointer;
  width: 2.5rem;
  height: 2rem;
}

.logoIcon {
  color: var(--bg-color);
}

.logoContainer {
  border: none;
  cursor: pointer;
  border-radius: 23px;
  padding: 10px;
  height: 3.75rem;
  width: 4.3rem;
  background: var(--submit-btn-background);
}

.iconContainer {
  border: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  // background: var(--bg-secondary);
  transition: box-shadow 0.25s ease;
}

.rightContainer {
  display: flex;
  gap: 0.5rem;
}

.mobileMenu {
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  // top: 3.75rem;
  right: 0;
  background: var(--bg-color);
  border-radius: 32px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  width: 90vw;
  left: 0;
  top: 6rem;
  border: 1px solid var(--border-color);
}

.navbarShadow {
  box-shadow: var(--box-shadow);
  position: sticky;
  z-index: 1000;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  // background: var(--bg-secondary);
  transition: box-shadow 0.25s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header,
.navbarShadow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  transition: box-shadow 0.25s ease;
}

.navbarShadow {
  box-shadow: var(--box-shadow);
  background: var(--bg-color);
  border-radius: 36px;
  padding: 10px;
  top: 20px;
}
