.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;

  span {
    color: var(--text-muted);
  }
}

.card {
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.degree {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
}

.university {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  color: var(--text-muted);
}

.desc {
  font-size: 1rem;
  color: var(--text-muted);
  margin-top: 1.5rem;
  text-align: center;
}
