@use "./styles/reset";
@use "./styles/variables";
@use "./styles/mixins";
@use "./styles/themes";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}
