@import "../../../styles/themes";

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;

  span {
    color: var(--text-muted);
  }
}

.card {
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.skill {
  font-size: 0.875rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  margin-right: 12px;
  font-weight: 600;
}

.role {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.company {
  font-size: 1.25rem;
  color: var(--text-muted);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.desc {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  text-align: justify;
}

.duration {
  font-size: 0.875rem;
  color: var(--text-muted);
  outline: 1px solid var(--border-color);
  border-radius: 32px;
  width: fit-content;
  padding: 0 10px;
  background-color: var(--bg-secondary);
}

.timeline {
  display: block;
}

.timelineRow {
  display: block;
}

@media (min-width: 768px) {
  .timeline {
    position: relative;
  }

  /* vertical line */
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background: var(--border-color);
    transform: translateX(-50%);
  }

  .timelineRow {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    margin-bottom: 4rem;
    align-items: start;
  }

  /* center node */
  .nodeWrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .nodeWrapper::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--bg-primary);
    border-radius: 50%;
    z-index: -1;
  }

  .node {
    width: 16px;
    height: 16px;
    border: 3px solid var(--border-color);
    background: var(--bg-primary);
    border-radius: 50%;
  }

  /* card spacing (gap effect) */
  .leftSlot,
  .rightSlot {
    padding-top: 4px;
  }

  .leftSlot {
    display: flex;
    justify-content: flex-end;
    padding-right: 48px; // GAP before card
  }

  .rightSlot {
    display: flex;
    justify-content: flex-start;
    padding-left: 48px; // GAP before card
  }

  .card {
    max-width: 520px;
  }
}
