@import "../../../styles/themes";

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;

  span {
    color: var(--text-muted);
  }
}

.card {
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.skill {
  font-size: 0.875rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  margin-right: 12px;
  font-weight: 600;
}

.role {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.company {
  font-size: 1.25rem;
  color: var(--text-muted);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.desc {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  text-align: justify;
}

.duration {
  font-size: 0.875rem;
  color: var(--text-muted);
  outline: 1px solid var(--border-color);
    border-radius: 32px;
    width: fit-content;
    padding: 0 10px;
    background-color: var(--bg-secondary);
}
