@import "../../../styles/themes";

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: left;
  font-weight: 700;
}

.highlight {
  color: var(--text-muted);
}

.description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-muted);
  text-align: justify;
  margin-top: 10px;
}

.contactInfo {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.contactDetails {
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  color: var(--text-muted);
}

.icon {
  box-shadow: var(--box-shadow);
  padding: 15px;
  border-radius: 20px;
  background-color: var(--bg-secondary);
}

.contactTitle {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.contactEmail {
  font-size: 1.125rem;
}

.supportDocs {
  color: var(--text-muted);
  font-size: 0.875rem;
  margin: 3rem 0 2rem 0;
  text-transform: uppercase;
  font-weight: 600;
}

.horizonalLine {
  border-top: 2px solid var(--border-color);
  margin-top: 2rem;
  padding-top: 2rem;
}
.digitalPresence {
  color: var(--text-muted);
  font-size: 0.875rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.socialIcons{
  display: flex;
  gap: 1rem;
}

.parentFormContainer{
  margin-top: 3rem;
}

.formFooter{
  color: var(--text-muted);
  font-size: 0.875rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

//form styles

.formContainer{
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  max-width: 600px;
  margin: 0 auto;
  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
}

.formGroup{
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.label{
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-muted);
}

.inputValue {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: var(--bg-secondary);
  color: var(--text-color);
}

.submitBtn{
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  background-color: var(--submit-btn-background);
  color: var(--bg-color);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}