@import "../../../styles/themes";
@import "../../../styles/mixins";

.title {
  font-size: 2.5rem !important;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;

  span {
    color: var(--text-muted);
  }
}

.description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
  color: var(--text-muted);
}

.philosophyCard {
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.techPhilosophyText {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  color: var(--text-muted);
}

.techPhilosophyDesc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-muted);
}

.firstRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.card {
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
  @media (min-width: 768px) {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

.footer {
  border-top: 2px solid var(--border-color);
  margin: 2rem 0;
}

.keyMetricContainer {
  display: flex;
  justify-content: space-between;
}

.keyMetricText {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.keyMetric {
  font-size: 0.875rem;
  color: var(--text-muted);
}

.icon {
  padding: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-secondary);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0;
}

.iconNumber {
  font-size: 24px;
  opacity: 0.5;
}

.desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-muted);
  text-align: justify;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  @include sm {
    gap: 0;
  }
}
