@import "../../../styles/themes";

.downloadButton {
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}

.downloadButton:hover {
  transform: translateY(-2px);
}

.docIcon {
  color: var(--text-color);
}

.downloadButtonText {
  color: var(--text-muted);
  font-weight: 600;
}
